@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');

* {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #f1f1f1;
}

nav ul {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}

nav ul div:last-child {
    display: flex;
    gap: 2rem;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}

.portfolio {
    padding: 1.5rem 2rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.project {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    border: 1px solid #6f6c6c;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
}

.image {
    text-align: center;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

/* about page begins */

.about {
    padding: 1.5rem 2rem;
}

.opening {
    display: flex;
}

.opening-right {
    padding-left: 2rem;
}

/* about page ends */



@media (max-width: 768) {
    .project {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .project {
        flex: 1 1 100%;
    }
}